[Unit]
After=network.target
Description=Development Telegram Bot

[Service]
Type=simple
ExecStart=/bin/bash -c 'source venv/bin/activate && /usr/bin/python3 bot.py'
User=pi
Restart=always

[Install]
WantedBy=multi-user.target