[Unit]
After=network.target
Description=Development Telegram Bot

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/bin/bash -c 'source /home/pi/dev/dev-tg-bot/venv/bin/activate;/home/pi/Documents/develop/dev-tg-bot/venv/bin/python /home/pi/Documents/develop/dev-tg-bot/bot.py'
Restart=always

[Install]
WantedBy=multi-user.target
